<div class="header-with-logout">
  <h1>作品一覧</h1>

  <div class="user-position">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar.variant(resize_to_fill: [60, 60]), class: "user-avatar" %>
    <% end %>

    <p>ようこそ、<%= current_user.username %> さん</p>

    <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
      <%= submit_tag "ログアウト", data: { confirm: "ログアウトしますか？" }, class: "logout-btn" %>
    <% end %>

    <%= link_to "ユーザー編集", edit_user_path, class: "action-btn" %>
  </div>
</div>
 <div class="board-header">
  <div class="actions">
    <%= link_to "新規作成", new_work_path, class: "new-btn" %>
  </div>
</div>

<table class="board-table">
  <thead>
    <tr>
      <th>名前</th>
      <th>ページ数</th>
      <th>最終更新日</th>
      <th>その他</th>
    </tr>
  </thead>
  <tbody>
    <% @comics.each do |comic| %>
      <tr>
        <td class="comic-name">
          <div class="info">
            <strong><%= link_to comic.title, comic_story_maps_path(comic) %></strong>
          </div>
        </td>
        <td><%= comic.total_page %>ページ</td>
        <td><%= comic.updated_at.strftime("%Y年%-m月%-d日") %></td>
        <td class="row-actions">
          <%= link_to "編集", edit_comic_path(comic), class: "action-btn" %>
          <%= form_with url: comic_path(comic), method: :delete, class: "inline-form", local: true do %>
            <%= submit_tag "削除", data: { confirm: "本当に削除しますか？" }, class: "action-btn danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>