<div class="field">
  <%= f.label :password, "新しいパスワード" %><br />
  <% if @minimum_password_length %>
    <em>（最低 <%= @minimum_password_length %> 文字以上）</em><br />
  <% end %>
  <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="actions">
  <%= f.submit "パスワードを変更する" %>
</div>