<h1>キャラクター一覧</h1>
<%= link_to "新規作成", new_comic_character_path(@comic), class: "new-character-btn" %>

<% if @characters.any? %>
  <!-- キャラクターカード一覧 -->
  <div class="character-cards"> 
    <% @characters.each do |character| %>
      <div class="character-card">
        <% if character.icon.attached? %>
          <%= image_tag character.icon.variant(resize_to_fill: [120, 120]), class: "character-icon" %>
        <% else %>
          <div class="character-icon placeholder">アイコン</div>
        <% end %>

        <div class="character-name"><%= character.name %></div>
        <div class="character-description"><%= character.description.presence || "説明なし" %></div>

        <% if character.id.present? %>
          <div class="character-actions vertical">
            <%= link_to "編集", edit_comic_character_path(@comic, character), class: "action-button" %>
            <%= button_to "削除", comic_character_path(@comic, character), method: :delete,
                  form: { class: "inline-form", data: { turbo: false } }, class: "action-button danger" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div> <!-- ★ここで閉じる -->
<% else %>
  <p>キャラクターが存在しません</p>
<% end %>

<hr>


<%= render template: "relationship_groups/index" %>