<div class="relationship-field">
<%= f.hidden_field :id %>
  <h3>関係設定</h3>

  <div>
    <label>キャラクターを選択（1人目）</label><br>
    <%= f.select :character_a_id,
      options_from_collection_for_select(characters, :id, :name, f.object.character_a_id),
      prompt: "キャラクターを選択" %>
  </div>

  <div>
    <label>関係の向き</label><br>
    <%= f.select :directionality, [["→", 1], ["⇄", 2]],
      prompt: "関係の向きを選択",
      selected: f.object.directionality %>
  </div>

  <div>
    <label>関係の種類</label><br>
    <%= f.text_field :relationship_type, placeholder: "例: 友達, 兄弟, 師弟" %>
  </div>

  <div>
    <label>キャラクターを選択（2人目）</label><br>
    <%= f.select :character_b_id,
      options_from_collection_for_select(characters, :id, :name, f.object.character_b_id),
      prompt: "キャラクターを選択" %>
  </div>

  <button type="button" class="remove-relationship">削除</button>
</div>