<%= form_with(model: [@comic, @relationship_group], local: true) do |f| %>
    <div class="character-field">
      <%= f.label :group_name, "キャラクター相関図名：" %>
      <%= f.text_field :group_name %>
    </div>
  
   <div id="relationships-container">
  <% @relationship_group.relationships.each do |relationship| %>
    <%= f.fields_for :relationships, relationship do |rf| %>
      <%= render 'relationship_groups/relationship_fields', f: rf, characters: @characters %>
    <% end %>
  <% end %>
</div>
  
    <!-- 追加ボタン -->
    <button type="button" id="add-relationship-button">+ 関係を追加</button>
  
    <!-- 作成ボタン -->
    <div>
      <%= f.submit "更新" %>
    </div>
  <% end %>
  

  <!-- JSで追加する新規用テンプレート -->
  <div id="relationship-template" style="display: none;">
    <% dummy_relationship = Relationship.new %>
    <% form_builder = ActionView::Helpers::FormBuilder.new("relationship_group[relationships_attributes][NEW_INDEX]", dummy_relationship, self, {}) %>
    <%= render 'relationship_groups/relationship_fields', f: form_builder, characters: @characters %>
  </div>