<!-- フォーム -->
<%= form_with(url: comic_story_parts_path(@comic), local: true) do %>
  <h1>内容の入力（起承転結）</h1>

  <% (0..3).each do |i| %>
    <% story_part = @story_parts&.find { |sp| sp.part_type == i } %>

    <div class="story-part-container">
      <!-- ラベル -->
      <div class="story-part-label">
        <%= label_tag "story_part[#{i}][content]", ["起", "承", "転", "結"][i] %>
      </div>

      <!-- 入力フォーム -->
      <div class="story-part-input">
        <%= text_area_tag "story_part[#{i}][content]", story_part&.content, rows: 4, cols: 50 %>
        <%= hidden_field_tag "story_part[#{i}][part_type]", i %>
      </div>

      <!-- 追加ボタン -->
      <div class="note-button">
      <button type="button" class="add-note" data-comic-id="<%= @comic.id %>" data-notable-type="story_part">＋</button>
      </div>
    </div>
  <% end %>

  <div>
    <%= submit_tag "保存" %>
  </div>
<% end %>

<!-- 付箋のコンテナ -->
<div id="note-container">
<% @stiky_notes.each do |note| %>
  <div class="note"
       style="left: <%= note.position_x %>px; top: <%= note.position_y %>px;"
       data-id="<%= note.id %>"
       data-comic-id="<%= @comic.id %>">
    <textarea oninput="updateNoteContent(this)"><%= note.note_content %></textarea>
  </div>
<% end %>
</div>