<h1>物語の概要</h1>
<p>どういうお話？</p>

<%= form_with(model: @story_map, url: [@comic, @story_map], local: true) do |f| %>
  <div>
    <%# idは、検索してページのフォームに飛べるように設定している %>
    <%= f.text_area :summary, id: "storymap-summary", rows: 4, cols: 50 %>
  </div>

  <div>
    <%= f.label :description, "詳細な説明" %>
    <%= f.text_area :description, id: "storymap-description", rows: 6, cols: 50 %>
  </div>
  
  <div>
    <%= f.submit "保存" %>
  </div>
<% end %>
