
<p>概要（どういう話？）</p>

<%= form_with(model: @story_map, url: [@comic, @story_map], local: true) do |f| %>
  <div>
    <%= f.text_area :summary, rows: 4, cols: 50 %>
  </div>

  <div>
    <%= f.label :description, "詳細な説明" %>
    <%= f.text_area :description, rows: 6, cols: 50 %>
  </div>
  
  <div>
    <%= f.submit "保存" %>
  </div>
<% end %>
