<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraduationWorks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>


    <!-- works#index用のCSSだけ読み込む -->
    <% if controller.controller_name == "works" && controller.action_name == "index" %>
      <%= stylesheet_link_tag "works_index", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <!-- storyParts#index用のCSSだけ読み込む -->
    <% if controller.controller_name == "story_parts" && controller.action_name == "index" %>
      <%= stylesheet_link_tag "story_parts_index", media: "all", "data-turbo-track": "reload" %>
    <% end %>
    <!-- characters#index用のCSSだけ読み込む(相関図も読み取るよう追記) -->
    <% if controller.controller_name == "characters" && controller.action_name == "index" %>
      <%= stylesheet_link_tag "characters_index", "relationship_groups_index", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <!-- relationship_groups#index用のCSSだけ読み込む -->
    <% if controller.controller_name == "relationship_groups" && controller.action_name == "index" %>
      <%= stylesheet_link_tag "relationship_groups_index", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <!-- panels#index用のCSSだけ読み込む -->
    <% if controller.controller_name == "panels" && controller.action_name == "index" %>
      <%= stylesheet_link_tag "panels_index", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <!-- pages#index用のCSSだけ読み込む -->
    <% if controller.controller_name == "pages" && controller.action_name == "index" %>
      <%= stylesheet_link_tag "pages_index", media: "all", "data-turbo-track": "reload" %>
    <% end %>




  </head>

  <body>
    <% if ["story_maps", "story_parts", "characters", "panels","pages","relationship_groups"].include?(controller_name) && ["index","new", "show", "edit"].include?(action_name) %>
    <%= render "shared/header" %>
    <% end %>
    

    <% if flash[:notice] %>
      <p class="alert alert-success"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= flash[:alert] %></p>
    <% end %>

    <% if ["story_maps", "story_parts", "characters", "panels","pages","relationship_groups"].include?(controller_name) && ["index","new", "show", "edit"].include?(action_name) %>
    <%= render "shared/split_setup" %>
    <% end %>

    <main id="main-content">
    <%= yield %>
    </main>


    <!-- Split.js 読み込み（importmapで管理していない場合） -->
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>

    <% if ["story_maps", "story_parts", "characters", "panels","pages","relationship_groups"].include?(controller_name) && ["index","new", "show", "edit"].include?(action_name) %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>