<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraduationWorks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if ["story_maps", "story_parts", "characters", "panels","pages","relationship_groups"].include?(controller_name) && ["index","new", "show", "edit"].include?(action_name) %>
      <%= render "shared/header" %>
    <% end %>

    <main>
      <%= yield %> <!-- 各ビューのコンテンツをここに描画 -->
    </main>

    <% if ["story_maps", "story_parts", "characters", "panels","pages","relationship_groups"].include?(controller_name) && ["index","new", "show", "edit"].include?(action_name) %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>